.mainContainer {
  width: 100%;
  height: 900px;
  background: #1d212d;
  @media (max-width: 655px) {
    height: 600px;
  }
  @media (max-width: 481px) {
    height: 450px;
  }
}

.mainContainerForCar {
  width: 100%;
  height: 100%;
  background: url("https://swoop-landing.s3.us-east-2.amazonaws.com/header-background-car.webp")
    no-repeat center;
  background-size: 50%;
  //   background-position-x: 100%;
  background-position-y: 46%;
  background-position-x: 100%;
  @media (max-width: 1000px) {
    background-position-y: 30%;
  }
  @media (max-width: 855px) {
    background-position-y: 10%;
  }
  @media (max-width: 655px) {
    background-position-y: 20%;
  }
  @media (max-width: 481px) {
    background-position-y: 30%;
  }
  //   padding: 0;

  // @media (max-width: 1700px) {
  //   background-size: 120%;
  // }
  // @media (max-width: 1387px) {
  //   height: 80vh;
  // }
  // @media (max-width: 1113px) {
  //   height: 70vh;
  // }
  // @media (max-width: 977px) {
  //   height: 60vh;
  //   background-size: 127%;
  // }
  // @media (max-width: 833px) {
  //   height: 450px;
  // }
  // @media (max-width: 689px) {
  //   background-size: 157%;
  // }
  // @media (max-width: 559px) {
  //   height: 350px;
  //   // background-position-y: 50%;
  // }

  // @media (max-width: 451px) {
  //   height: 320px;
  // }
  // @media (max-width: 400px) {
  //   background-size: 170%;
  //   background-position-x: 40%;
  // }
  // @media (max-width: 366px) {
  //   background-size: 190%;
  //   background-position-x: 60%;
  // }
  // @media (max-width: 328px) {
  //   height: 390px;
  //   background-size: 240%;
  // }
}
.mainContainerForMapBackground {
  width: 100%;
  height: 100%;
  background: url("https://swoop-landing.s3.us-east-2.amazonaws.com/header-backgorund-map.svg")
    no-repeat center;
  background-size: 100%;
  //   background-position-x: 100%;
  background-position-y: 100%;
  background-position-x: 100%;
  @media (max-width: 1700px) {
    background-position-y: 82%;
  }
  @media (max-width: 1613px) {
    background-position-y: 80%;
  }
  @media (max-width: 1439px) {
    background-size: 105%;
    background-position-y: 76%;
    background-position-x: 40%;
  }
  @media (max-width: 1303px) {
    background-size: 112%;
    background-position-x: 0%;
  }
  @media (max-width: 1203px) {
    background-size: 120%;
    background-position-x: 0%;
    background-position-y: 73%;
  }
  @media (max-width: 1000px) {
    background-size: 130%;
    background-position-y: 58%;
    background-position-x: 23%;
  }
  @media (max-width: 870px) {
    background-size: 130%;
    background-position-y: 64%;
    background-position-x: 23%;
  }
  @media (max-width: 855px) {
    background-position-y: 36%;
  }
  @media (max-width: 713px) {
    background-position-y: 33%;
  }
  @media (max-width: 655px) {
    background-position-y: 50%;
  }
  @media (max-width: 575px) {
    background-position-y: 44%;
  }
  @media (max-width: 481px) {
    background-position-y: 57%;
  }
  @media (max-width: 410px) {
    background-position-y: 51%;
  }
  // @media (max-width: 457px) {
  //   background-position-y: 39%;
  // }
  @media (max-width: 387px) {
    background-position-y: 49%;
  }
  // @media (max-width: 377px) {
  //   background-position-y: 42%;
  // }
}
.headerContainer {
  height: 100%;
}
.headerTextContainer {
  max-width: 1400px;

  margin: 0px auto;
  @media (max-width: 1300px) {
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (max-width: 697px) {
    padding-right: 16px;
    padding-left: 16px;
  }

  //   background-position-y: ;
}
.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  // filter: opacity(4);
  padding-right: 45px;
  padding-left: 45px;
  background: #2f3547;
  //   backdrop-filter: blur(6px);
  // -webkit-filter: opacity(4);
  position: relative;
  //   -webkit-backdrop-filter: blur(6px);
  @media (max-width: 700px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 697px) {
    padding-right: 16px;
    padding-left: 16px;
  }
  @media (max-width: 386px) {
    height: 80px;
  }
}
.imgContainer {
  width: auto;
  // height: 100%;
  @media (max-width: 1500px) {
    width: 350px;
  }
  // @media (max-width: 700px) {
  //   margin-left: 20%;
  // }
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 386px) {
    width: 240px;
  }
  img {
    width: 300px;
    height: 123px;
    // @media (max-width: 450px) {
    //   width: 240px;
    //   height: 83px;
    // }
  }
}
.ulMenu {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  //   grid-auto-columns: minmax(40px, 100px);

  //   justify-content: center;

  display: flex;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;

  color: white;
  .menuListContainer {
    width: 700px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
  }
  li {
    font-size: 20px;
    position: relative;
  }
  span {
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -4px;
      transform: translateX(-50%) scaleX(0);
      -webkit-transform: translateX(-50%) scaleX(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50%;
      width: 100%;
      height: 3px;
      background: white;
      -webkit-transition: transform 250ms;
      transition: transform 250ms;
    }
    &:hover:after {
      -webkit-transform: translate(-50%) scaleX(1);
      transform: translate(-50%) scaleX(1);
    }
  }
  padding: 0px;
  //   grid-template-columns: minmax(600px, auto);
}
.ulMenuMobile {
  // width: 540px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 32px;
  margin-top: 30px;
  list-style-type: none;
  color: white;

  li {
    font-size: 20px;
  }
  padding: 0px;
}
.leftBlock {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
  li {
    margin: auto 18px;
  }
}
.rightBlock {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  li {
    margin: auto 18px;
  }
}
.headerText {
  width: 740px;
  color: white;
  font-weight: 700;
  font-size: 35px;
  display: grid;
  justify-content: center;
  margin-bottom: 110px;

  @media (max-width: 1265px) {
    width: 530px;
  }
  @media (max-width: 977px) {
    margin-bottom: 60px;
  }
  @media (max-width: 625px) {
    width: 90%;
  }
  @media (max-width: 559px) {
    font-size: 29px;
  }
  @media (max-width: 479px) {
    font-size: 23px;
  }
  img {
    width: 500px;
    height: 240px;
    @media (max-width: 855px) {
      width: 320px;
      height: 190px;
    }
    @media (max-width: 562px) {
      width: 220px;
      height: 100px;
      margin-top: 40px;
    }
    @media (max-width: 400px) {
      width: 200px;
      height: 100px;
      margin-top: 10px;
    }
  }
  span {
    @media (max-width: 1000px) {
      margin-top: 300px;
    }
    @media (max-width: 855px) {
      margin-top: 180px;
    }
    @media (max-width: 457px) {
      margin-top: 100px;
    }
  }
}
