@mixin titleBackground {
  height: 200px;
  background: url("https://swoop-landing.s3.us-east-2.amazonaws.com/title-background.svg")
    no-repeat center;
  background-size: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 600px) {
    background-size: 140px;
  }
}
@mixin title {
  font-size: 32px;
  color: white;
  @media (max-width: 600px) {
    font-size: 26px;
  }
}
