html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.slick-list {
  order: 2;
}
/* @media (max-width: 674px) {
  .slick-slide {
    width: 100%;
  }
  .slick-slide div {
    width: 100%;
  }
} */
@media (max-width: 721px) {
  .slick-list {
    display: flex;
    justify-content: center;
  }
}
/* .slick-dots li {
  width: 100%;
  height: 100%;
  margin: 25px 0;
} */
